doctype html
html(lang="en")
  head
    title Title
    link(href='/style.css', rel='stylesheet')
  body
    h2 All people

    #container
      ul
        each person in  people
          li
            - urlFragment = person["_id"].toString()
            a(href="/people/".concat(urlFragment))
              #{person["_id"]} #{person["first name"]} #{person["second name"]} #{person["profession"]}
