doctype html
html(lang="en")
  head
    title Page Title
    link(href='/style.css', rel='stylesheet')
  body
    h1 Jade - node template engine

    #container.highlight
      p= message
      p print a string and value #{message}
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

      form(name="input", action="person/create", method="get")
        key Username
          input(type="text", name="user")

        key Password
          input(type="password", name="pswd")

        input(type="submit", value="Submit")